@font-face {
    font-family: fontawesome;
    src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
    src: url('../fonts/fontawesome-webfont.eot') format('truetype');
    src: url('../fonts/fontawesome-webfont.woff') format('truetype');
    src: url('../fonts/fontawesome-webfont.woff2') format('truetype');
}


:root{
    --color-primario: #EF5E3F;
    --color-secundario: black;
    --index-z-1: 1;
    -index-z-2: 2;
}

*{
    font-family: fontawesome;
}

nav{
    font-size: 24px;
}

.navbar-brand{

    font-size: 24px;
}

.active {
    background: var(--color-primario) ;
    border-radius: 5px !important;
}

header{
    padding-top: 10px;
    opacity: 0.8;
    background-color: var(--color-secundario) !important;
    height: 80px;
    width: 100%;
}

.bg-cover-section1{
    width: 100%;
    height: 90vh;
    background-image: url(../images/fondo-bienvenido-grande.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#whois{

    background-color: var(--color-primario);
}

.whois-cont{
    width: 40%;
}


.btn-wlc{
    background-color: var(--color-primario);
}

#nuestros{
    background-color: white;
}



.icon-svg svg{
    width: 100px;
    height: 100px;
    fill: var(--color-primario);
}

.proyecto:hover{
    scale: 1.1;
}

.proyecto{
    width: auto;
    height: 30vh;
}

#proyecto{
    background-color:#4a4a4a; 
}

h1{
    width: auto;
    text-align: center;
}

.footer{
    background-color: var(--color-secundario);
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 16px;
}


@media screen and (max-width: 450px) {
    .bg-cover-section1{
        width: 100%;
        height: 70vh;
        background-image: url(../images/fondo-bienvenidos.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;

    } 
    .proyecto{
        width: auto;
        height: 30%;
    }
    ul{
        background-color: var(--color-secundario);
        color: white;
    }
    .whois-cont{
        width: 60%;
    }

    nav{
        font-size: 18px;
    }


    .navbar-brand{
        margin: 0;
    
    }
  }


  @media screen and (max-width: 900px) {
    .navbar{
        justify-content: center !important;
        gap: 20px !important;
    }
    ul{
        background-color: var(--color-secundario);
        color: white;
    }
  }